body {
    background-image: url(../images/background.jpg);
    background-size: 100%;
    color: white;
    font-family: Source Code Pro;
}

.body {
    margin-bottom: 40px;
}

/* navbar */
.navbar {
    padding: 0;
}

.logo {
    max-width: 70px;
}

.wrap {
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-box {
    backdrop-filter: blur(9px);
    max-width: 90%;
    padding: 30px;
}

a {
    text-decoration: none;
    color: white;
}

.btn-box {
    display: block;
    margin: 0 auto;
    width: 70%;
    height: 40px;
    color: white;
}

.btn {
    color: white;
    letter-spacing: .02rem;
}

.border:hover {
    text-shadow: 0 0 10px rgb(122, 72, 248), 0 0 20px rgb(255, 255, 255), 0 0 30px rgb(122, 72, 248), 0 0 40px rgb(122, 72, 248);
}


h2 {
    font-family: Wix Madefor Display;
    font-size: 50px;
}

#first-name {
    margin-top: 25px;
}

h3 {
    font-size: 16px;
    font-family: Wix Madefor Display;
}

/* about */
.about {
    max-width: 90%;
    border-radius: 50%;
}

.matte {
    backdrop-filter: blur(9px);
}

.certification {
    max-width: 90%;
    display: block;
    margin: auto;
}

/* projects */

.container-project {
    backdrop-filter: blur(9px);
    max-width: 95%;
    padding: 30px;

}

.skills {
    margin-bottom: 10px;

}

.project-img {
    max-width: 90%;
}

.project-box {
    margin-top: 70px;
}

/* contacts */

.contact-icons {
    text-align: center;
    font-size: 25px;
    backdrop-filter: blur(12px);
}

.fa-telegram:hover,
.fa-github:hover,
.fa-envelope:hover,
.fa-telegram:focus,
.fa-github:focus,
.fa-envelope:focus {
    text-shadow: 0 0 10px rgb(122, 72, 248), 0 0 20px rgb(255, 255, 255), 0 0 30px rgb(122, 72, 248), 0 0 40px rgb(122, 72, 248);
}